@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: currentColor;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  border: 0;
  padding: 0;
  background-color: transparent;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1500px) {
  .container {
    width: 1500px;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.63;
  color: #d9d9d9;
}

body {
  background-color: rgb(28, 29, 30);
}

.logo {
  color: rgb(53, 198, 107);
  font-weight: 800;
  font-size: 40px;
}

.title {
  font-weight: 800;
  font-size: 80px;
  line-height: 1;
  color: rgb(255, 255, 255);
}

.title__span {
  color: rgb(53, 198, 107);
}

.button {
  font-weight: 600;
  font-size: 24px;
  color: rgb(255, 255, 255);
  padding: 20px 80px;
  background: linear-gradient(265.23deg, #237249 6.79%, #35C66B 97.2%);
  border-radius: 82px;
  border: 1px solid transparent;
  cursor: pointer;
}

.icon {
  width: 40px;
  height: 40px;
  fill: rgb(53, 198, 107);
}

html {
  scroll-behavior: smooth;
}

.header .container {
  display: flex;
  align-items: center;
  height: 120px;
}

.header {
  padding-bottom: 50px;
}

.header .logo {
  margin-right: 94px;
}

.header__list {
  display: flex;
}

.header__list {
  gap: 95px;
}

.header__link {
  padding: 30px 0;
}

.hero {
  padding-bottom: 110px;
}

.hero .title {
  font-size: 85px;
  margin-bottom: 55px;
}

.hero__description {
  width: 572px;
  margin-bottom: 55px;
}

.hero__button {
  margin-right: 16px;
}

.hero__box--btn {
  display: flex;
}

.hero .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.hero__button--dark {
  background: rgb(18, 21, 23);
  border: 1px solid rgb(217, 217, 217);
}

.hero__num {
  color: rgb(255, 255, 255);
  font-size: 62px;
}
.hero__num::after {
  content: "+";
  color: rgb(53, 198, 107);
}

.hero__list {
  display: flex;
  margin-top: 30px;
  gap: 70px;
}

.hero__text {
  width: 123px;
}

.advantages {
  padding-bottom: 135px;
}

.advantages__box {
  width: 1030px;
  height: 375px;
  border-radius: 46px;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
}

.advantages__list {
  color: rgb(18, 21, 23);
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

.advantages__item {
  position: relative;
  z-index: 5;
  width: 210px;
  text-align: center;
  align-items: flex-end;
  margin-top: 30px;
}

.advantages__title {
  margin-bottom: 10px;
}

.advantages__img {
  display: inline-block;
}

.advantages__item:nth-child(2) .advantages__img {
  margin-bottom: -40px;
}

.advantages__item:nth-child(1) .advantages__img {
  margin-bottom: -20px;
}

.advantages__item::before {
  position: absolute;
  left: 25px;
  top: 10px;
  z-index: -5;
  content: "";
  width: 148px;
  height: 148px;
  border-radius: 50%;
  background: rgb(53, 198, 107);
}

.advantages__item:nth-child(2)::before {
  left: 35px;
}

.advantages__item:nth-child(3)::before {
  left: 25px;
  top: 0px;
}

.result {
  padding-bottom: 130px;
}

.result .title {
  margin-bottom: 65px;
}

.desc {
  width: 475px;
  margin-bottom: 65px;
}

.box__image {
  width: 445px;
}

.result .container {
  display: flex;
  justify-content: space-between;
}

.result2 {
  width: 465px;
}

.color img {
  width: 180px;
}

.color ul {
  display: flex;
  align-items: center;
}

.products {
  margin-bottom: 110px;
}

.products .title {
  width: 400px;
  margin-right: 75px;
}

.products__box {
  display: flex;
  margin-bottom: 65px;
}

.products__title {
  font-weight: 500;
  font-size: 32px;
  color: white;
}

.products__thumb {
  display: flex;
  align-items: center;
}

.products__button {
  font-size: 20px;
  padding: 14px 38px;
}

.products__item {
  position: relative;
  text-align: center;
  width: 270px;
  padding: 30px 0;
  border: 1.35px solid white;
  border-radius: 29px;
}

.products__item p {
  display: inline-block;
  width: 200px;
  margin-bottom: 10px;
}

.products__img {
  width: 180px;
  height: 248px;
  display: inline-block;
  margin-bottom: 10px;
}

.products__item::before {
  z-index: -5;
  position: absolute;
  left: 45px;
  top: 60px;
  content: "";
  width: 190px;
  height: 190px;
  border-radius: 50%;
  background: linear-gradient(265.23deg, #237249 6.79%, #35c66b 97.2%);
}

.products__list {
  display: flex;
  justify-content: space-between;
}

.events {
  padding-bottom: 150px;
}

.events__desc {
  width: 475px;
  margin-right: 75px;
}

.events__box {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 55px;
}

.events__button {
  padding: 20px 50px;
}

.events__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  margin-bottom: 45px;
  color: rgb(255, 255, 255);
}

.events__item {
  max-width: 600px;
  width: 100%;
  height: 260px;
  background-color: rgb(217, 217, 217);
  border-radius: 50px;
  padding-top: 45px;
  padding-left: 30px;
  background-image: url(/images/kitchen.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.events__item:nth-child(2) {
  background-image: url(/images/free_coffee.jpg);
}
.events__item:nth-child(3) {
  background-image: url(/images/instagram.jpg);
}
.events__item:nth-child(4) {
  background-image: url(/images/choose_us.jpg);
}

.events__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.events__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center; /* або flex-start */
}

.events__item:nth-child(n+3) {
  margin-top: 45px;
}

.contacts {
  padding-bottom: 135px;
}

.contacts__title {
  margin-bottom: 50px;
}

.contacts .container {
  display: flex;
  justify-content: space-between;
}

.contacts__desc {
  width: 395px;
  margin-bottom: 100px;
}

.contacts__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.3;
  color: rgb(255, 255, 255);
}
.contacts__link:nth-child(odd) {
  margin-bottom: 30px;
}

.contacts__icon {
  margin-right: 20px;
}

.contacts__img {
  width: 354px;
}

.footer {
  background-color: rgb(18, 21, 23);
  padding: 50px 0;
}

.footer__list {
  width: 620px;
  display: flex;
  justify-content: space-between;
}

.footer__item {
  display: inline-flex;
  flex-direction: column;
}

.footer__name {
  color: rgb(255, 255, 255);
}

.footer__link {
  color: rgba(187, 179, 179, 0.43);
}

.footer__box {
  display: flex;
  justify-content: space-between;
}

.footer__box:nth-child(1) {
  align-items: start;
  margin-bottom: 55px;
}

.footer__tel {
  font-weight: 500;
  font-size: 26px;
  color: rgb(53, 198, 107);
}

.footer__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
  width: 85px;
  border-radius: 29px;
  border: 3px solid rgb(53, 198, 107);
}

.footer__icon .icon {
  height: 40px;
  width: 15px;
}/*# sourceMappingURL=main.css.map */