@import "./base/reset";
@import "./base/container";
@import "./base/fonts";
@import "./base/colors";
@import "./base/general";
@import "./components/header";
@import "./components/mobile";
@import "./components/hero";
@import "./components/advantages";
@import "./components/result";
@import "./components/products";
@import "./components/events";
@import "./components/contacts";
@import "./components/footer";