.footer{
    background-color: $colorBlack;
    padding: 50px 0;
}

.footer__list{
    
    display: flex;
    flex-wrap: wrap;
     justify-content: space-between;
    gap: 30px;
        @media screen and (min-width: 880px) {
            width: 620px;
    }
   
}
.footer__item{
    display: inline-flex;
    flex-direction: column;
}
.footer__name{
    color: $colorWhite;
}
.footer__link{
    color: rgba(187, 179, 179, 0.43);
}
.footer__box{
    display: flex;
    justify-content: space-between;
}
.footer__box:nth-child(1){
    align-items: start;
    margin-bottom: 55px;

}
.footer__tel{
    font-weight: 500;
    font-size: 26px;
    color: $colorGreen;
}
.footer__icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
    width: 85px;
    border-radius: 29px;
    border: 3px solid $colorGreen
  
}
.footer__icon .icon{
   height: 40px;
    width: 15px;
}

.footer__nav{
   
    margin-bottom: 50px;
    @media screen and (min-width: 880px) {
       display: flex;
    }
}
.footer .logo{
     display: block;
     margin-bottom: 20px;
    @media screen and (min-width: 880px) {
        margin-bottom: 0;
        margin-right: 100px;
    }
}