.header .container {
  display: flex;
  align-items: center;
  height: 120px;

}
.header{
    padding-bottom: 50px;
}
.header .logo {
 
  margin-right: 94px;
}
.header__list {
  display: flex;
}

.header__list{
  gap: 95px;
}
.header__link{
    padding: 30px 0;
}
