.header .container {
  display: flex;
  align-items: center;
  height: 85px;

  @media screen and (min-width: 1200px) {
    height: 100px;
  }
  @media screen and (min-width: 1500px) {
    height: 130px;
  }
}
.header {
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}
.header .logo {
      position: absolute;
    top: 5px;
    left: 20px;
  @media screen and (min-width: 880px) {
    position:static;
    margin-right: 70px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 95px;
  }
}
.header__list {
  display: none;
  @media screen and (min-width: 880px) {
    display: flex;
    gap: 60px;
  }
  @media screen and (min-width: 1200px) {
    gap: 95px;
  }
}

.header__link {
  padding: 30px 0;
}
