.hero {
   margin-bottom: 80px;
   @media screen and (min-width: 1200px) {
   margin-bottom: 110px;
  }
}
.hero .container {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.hero .title {
  font-size: 60px;
  margin-bottom: 35px;
  @media screen and (min-width: 1200px) {
    font-size: 85px;
    margin-bottom: 55px;
  }
}
.hero__description {
  margin-bottom: 55px;
  @media screen and (min-width: 1200px) {
    width: 572px;
  }
}

.hero__box--btn {
  display: flex;
}
.hero__button {
  margin-right: 16px;
}
.hero__button--dark {
  background: $colorBlack;
  border: 1px solid $colorGray;
}
.hero__num {
  color: $colorWhite;
  font-size: 50px;
  &::after {
    content: "+";
    color: $colorGreen;
  }
  @media screen and (min-width: 1200px) {
    font-size: 62px;
  }
}
.hero__list {
  display: flex;
  margin-top: 20px;
  gap: 70px;
  @media screen and (min-width: 1200px) {
    margin-top: 30px;
  }
}

.hero__text {
  width: 123px;
}
.hero__img {
  width: 340px;
  @media screen and (min-width: 1200px) {
    width: 470px;
  }
}
