.result{
    padding-bottom: 130px;
}

.result .title{
    margin-bottom: 65px;
}
.desc{
    width: 475px;
    margin-bottom: 65px;
}
.box__image{
    width: 445px;
}
.result .container{
    display: flex;
    justify-content: space-between;
}
.result2{
    width: 465px;
}


.color img{
    width: 180px;
}

.color ul{
    display: flex;
    align-items: center;
}