.result {
  padding-bottom: 130px;
}

.result .title {
  margin-bottom: 45px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 65px;
  }
}
.desc {
  width: 400px;
  @media screen and (min-width: 1200px) {
    width: 475px;
  }
}
.box__image {
  width: 445px;
}
.result .container {
  display: flex;
  justify-content: space-between;
}
.result2 {
  width: 350px;
  @media screen and (min-width: 1200px) {
    width: 465px;
  }
}

