
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 480px) {
    max-width: 480px;
  }
  @media screen and (min-width: 880px) {
    max-width: 880px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
  @media screen and (min-width: 1500px) {
    max-width: 1500px;
  }
}
